.nav-tabs{
    border-bottom: 0rem!important
}
button.nav-link{ 
    height: auto !important;
    padding: 0.2rem 1rem !important;
    color: white !important;
    border-radius: 0rem !important;

}
button.nav-link.active{ 
    color: var(--imp-text-color) !important
}

ul.project-card-view.nav{
    border-radius: 0.375rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
